In [1]:
%matplotlib inline
#import seaborn as sns
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sqlite3

survey_data = pd.read_csv('data/questionnaire.csv')
maps_data = pd.read_csv('data/map-data.csv')




survey_data['participant_id']=survey_data['Q51_1'].astype(np.int64)

survey_data.head(5)
survey_data.describe()

,Duration (in seconds),LocationLatitude,LocationLongitude,Q51_1,Q2_1,Q3_1,Q4_1,Q5_1,Q6_1,Q7_1,Q30_1,Q33_9_TEXT,Q44_1,Q51_1 - Sentiment Score,Q51_1 - Sentiment Polarity,participant_id
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,0.0,52.000000,50.000000,50.0,52.000000
mean,8984.480769,41.976280,-89.808005,31.442308,8.769231,1.288462,3.480769,12.269231,6.576923,4.480769,27.730769,NaN,3.673077,0.200000,0.0,31.442308
std,20791.185069,2.094470,3.948738,18.654142,4.080635,1.288509,3.090088,4.428585,4.074532,5.108587,10.853960,NaN,2.357476,0.571429,0.0,18.654142
min,604.000000,37.751007,-97.821999,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,NaN,0.000000,-1.000000,0.0,1.000000
25%,1744.500000,43.038895,-87.906502,15.750000,5.000000,1.000000,1.000000,10.000000,3.000000,1.000000,21.000000,NaN,2.000000,0.000000,0.0,15.750000
50%,2739.500000,43.038895,-87.906502,29.500000,8.500000,1.000000,3.000000,13.000000,6.500000,2.000000,23.000000,NaN,4.000000,0.000000,0.0,29.500000
75%,4499.750000,43.038895,-87.906502,48.500000,12.000000,2.000000,5.000000,15.000000,9.250000,7.000000,30.000000,NaN,5.000000,1.000000,0.0,48.500000
max,92662.000000,43.038895,-87.651703,62.000000,17.000000,7.000000,10.000000,20.000000,16.000000,18.000000,76.000000,NaN,9.000000,1.000000,0.0,62.000000

In [2]:
data=pd.merge(maps_data, survey_data, on="participant_id", how="left")
data.describe()
data.head(5)
data.to_csv('data/masterData.csv', sep='\t')

In [3]:
data.describe()
data.head(5)

,new_part_id,participant_id,group_num,background,kernel1,bandwidth1,metric1,min_hotspots1,max_hotspots1,min_circles1,...,Q41,Q42,Q43,Q44_1,Q45,Q46,Q51_1 - Sentiment,Q51_1 - Sentiment Score,Q51_1 - Sentiment Polarity,Q51_1 - Topics
0,1,1,2,tech,gaussian,0.0025,euclidean,4,20,5,...,No,Neither agree nor disagree,Somewhat agree,5,Neutral,Neutral,NaN,NaN,NaN,NaN
1,2,2,1,none,gaussian,0.0050,euclidean,13,11,17,...,Yes,Somewhat agree,Somewhat disagree,2,Somewhat Libertarian,Somewhat fiscally conservative,Neutral,0.0,0.0,Unknown
2,3,3,1,none,gaussian,0.0050,euclidean,10,24,50,...,Yes,Agree,Somewhat agree,9,Authoritarian,Fiscally conservative,Neutral,0.0,0.0,Unknown
3,4,4,1,none,linear,0.0050,euclidean,5,15,8,...,No,Agree,Agree,5,Neutral,Somewhat fiscally conservative,Neutral,0.0,0.0,Unknown
4,5,6,1,none,gaussian,0.0050,euclidean,9,16,19,...,Yes,Agree,Somewhat agree,1,Somewhat Authoritarian,Somewhat fiscally conservative,Neutral,0.0,0.0,Unknown

In [4]:
data_g1= data[data['group_num']==1]
data_g1.head(5)
data_g1.to_csv('data/g1.csv', sep='\t')

In [5]:
data_g2= data[data['group_num']==2]
data_g2.head(5)
data_g2.to_csv('data/g2.csv', sep='\t')

In [6]:
data_g3= data[data['group_num']==3]
data_g3.head(5)
data_g3.to_csv('data/g3.csv', sep='\t')